<%- include('partials/header.ejs') %>

<div class="newBlogDiv">
<h1 class="titleBlog">ADD NEW BLOG</h1>
<hr>
<div class="formPicDiv">
<div class="formNewBlog" style="box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); background-color: rgb(247, 207, 194);">
  <form action="/newBlog" method="post">

    <label  for="title ">TITLE :</label>
    <br>
    <input class="title inputNewBlog" type="text" name="title" required style="border-radius: 10px; height: 50px;">
    <br>
    <label for="Author inputNewBlog">AUTHOR :</label>
    <br>
    <input class="author inputNewBlog" type="text" name="author" required style="border-radius: 10px; height: 50px;">
    <br>
    <label for="message inputNewBlog">MESSAGE :</label>
    <br>
    <textarea class="message inputNewBlog" name="message" id="" cols="90" rows="9" required></textarea>
    <br>
    <input class="submitBtn" type="submit" value="Submit">
  
  
  </form>
</div>
<div class="formNewBlog" >
<img class="picForm" src="pictures/pic1.jpg" alt="picture">
</div>
</div>

</div>
 


<%- include('partials/footer.ejs') %>