<%- include('partials/header.ejs') %>

<h1>Register </h1>

<form method="post" action="/register">
<label for="">Name</label>
<br>
<input type="text" name="name">
<br>
<label for="">Surname</label>
<br>
<input type="text" name="surname" >
<br>
<label for="">Contact</label>
<br>
<input type="number" name="cellnumber">
<br>
<label for="">Email </label>
<br>
<input type="email" name="email">
<br>
<label for="">Password</label>
<br>
<input type="password" name="password">
<br>
<label for="">Re-enter Password</label>
<br>
<input type="password" name="repassword" >
<br>
<button type="submit">Register</button>


</form>




<%- include('partials/footer.ejs') %>