<%- include('partials/header.ejs') %>

<h1>Register </h1>
<div class="reg">


<form method="post" action="/api/register">
<br>
<input class="inpuReg" type="text" name="name" placeholder="Your Name" style="border-radius: 10px; height: 40px; margin-bottom: 20px;">
<br>
<input class="inpuReg" type="text" name="surname" placeholder="Your Surname" style="border-radius: 10px; height: 40px; margin-bottom: 20px;" >
<br>
<input class="inpuReg" type="number" name="cellphone" placeholder="Your Cell No" style="border-radius: 10px; height: 40px; margin-bottom: 20px;">
<br>
<input class="inpuReg" type="email" name="email" placeholder="Your Email"style="border-radius: 10px; height: 40px; margin-bottom: 20px;">
<br>
<input class="inpuReg" type="password" name="password" placeholder="Password"style="border-radius: 10px; height: 40px; margin-bottom: 20px;">
<br>
<input class="inpuReg" type="password" name="repassword" placeholder="Confirm Password"style="border-radius: 10px; height: 40px; margin-bottom: 20px;" >
<br>
<button type="submit">Register</button>

</div>
</form>




<%- include('partials/footer.ejs') %>